ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
}

ul > li{
    text-align: center;
}

.element{
    border: 1px black solid;
    padding: 10px;
    max-width: 30px;
    font-size: 0px;
    background-color: lightblue;
}

.sorted{
    background-color: green;
}

.active{
    background-color: chartreuse;
}

.selected1{
    background-color: red;
}

.selected2{
    background-color: royalblue;
}
